/test/
/node_modules/
/ico_tmp/
/nbproject/private/
/config.ini
/tmp
/dist/
/.document/
/test.txt
/config.json
/*.lnk
/Chrome-WebAPP-Shortcuts-Creator.desktop
/debug.log
/package-lock.json