<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chrome WebAPP Shortcuts Creator</title>
    <link rel="shortcut icon" href="imgs/Apps-Google-Chrome-App-List-icon.ico" type="image/x-icon" />

    <!-- require -->
    <script src="require.js"></script>

    <!-- Vendors -->
    <script src="helpers/ElectronJQueryHelper.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors/semantic-ui/semantic.min.css">
    <script src="vendors/semantic-ui/semantic.min.js"></script>

    <script src="vendors/vue/vue.min.js"></script>
    
    <!-- Style --->
    
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script>
      less = {
        logLevel: 0,
      }
    </script>
    <script src="vendors/less/less.min.js" ></script>
    
    <!-- Helpers -->
    <script src="helpers/DateHelper.js" ></script>
    <script src="helpers/URLHelper.js" ></script>
    <script src="helpers/ChromeHelper.js" ></script>
    <script src="helpers/ElectronHelper.js" ></script>
    <script src="helpers/PathHelper.js" ></script>
    <script src="helpers/FileDragNDropHelper.js" ></script>
    <script src="helpers/FilePasteHelper.js" ></script>
    
    <!-- Managers -->
    <script src="libs/IconManager.js" ></script>
    <script src="libs/CrawlerManager.js" ></script>
    <script src="libs/CrawlerIconManager.js" ></script>
    <script src="libs/CrawlerIconURLManager.js" ></script>
    <script src="libs/CrawlerIconThumbnailManager.js" ></script>
    <script src="libs/CrawlerIconFaviconManager.js" ></script>
    <script src="libs/CrawlerIconImageManager.js" ></script>
    <script src="libs/ShortcutManager.js" ></script>
  </head>

  <body>
    <div class="ui" id="app"
         ref="ui">
      <form class="ui container form">
        <div class="field" v-on:click="selectChromeFilePath">
          <label for="chromeFilePath">
            Google Chrome File Path
          </label>
          
          <div class="ui right labeled input">
            <input type="text" v-model="chromeFilePath" class="disabled" disabled="disabled" />
            <button type="button"
              class="ui icon button label">
              <i class="search icon"></i>
            </button>
          </div>
        </div>
        
        <div class="field">
          <label for="url">
            URL
          </label>
          <div class="ui input">
            <input id="url" type="url" v-model="url" 
                   onfocus="this.select()"
                   v-on:change="onURLChange" />
          </div>
        </div>

        <div class="field">
          <label>
            Retrieve Metadata
          </label>

          <div class="two unstackable fields">
            <div class="retrieve-metadata-left field">
              <button type="button" 
                      class="ui labeled icon fluid button"
                      v-on:click="loadFromURL"
                      v-bind:class="{ disabled: isURLNotReady, positive: isNeedLoad }"
                      ref="loadFromURL">
                <i class="search icon"></i>
                Retrieve
              </button>
            </div>
            <div class="retrieve-metadata-right field ui checkbox" ref="checkbox">
              <input type="checkbox" v-model="autoRetrieve" />
              <label>Automatic</label>
            </div>
          </div>
        </div>
        
        
        <div class="field">
          <label for="title">
            Title
          </label>
          <div class="ui input">
            <input id="input" type="text" v-model="title" maxlength="30" 
                   onfocus="this.select()"
                   v-on:change="persist" />
          </div>
        </div>
        
        <div class="field">
          <label for="description">
            Description
          </label>
          <div class="ui input">
            <textarea id="description" type="text" v-model="description" maxlength="50" 
                      onfocus="this.select()"
                      v-on:change="persist"></textarea>
          </div>
        </div>
        
        <div class="fields">
          <div class="field">
            <label for="url">
              Icon
            </label>
            <div class="icon-placeholder" v-bind:style="{ backgroundImage: iconBase64 }"></div>
          </div>
          <div class="icon field">
            <label for="url">
              &nbsp;
            </label>
            <button type="button" 
                    class="ui fluid button"
                    v-on:click="selectIconFile">
              CHANGE
            </button>
          </div>
        </div>
          
        
        <div class="field" >
          <button type="button" 
                  class="ui fluid button create-shortcut"
                  v-bind:class="{ positive: isReady, disabled: isNotReady }"
                  v-on:click="createShortcut"
                  ref="createShortcut">
            CREATE SHORTCUT
          </button>
        </div>
      </form>
    </div>
    <script src="vue-init.js"></script>
    
    <div class="loading-layer"></div>
    <div class="drag-n-drop-layer">
      Drag an image<br />into here
    </div>
  </body>

</html>