body {
  overflow-y: hidden;
  padding-top: 0.5rem;
}

/*
img.icon {
  max-height: 32px;
  max-width: 32px;
  height: auto;
}
*/
div.icon-placeholder {
  height: 32px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6px;
}

.icon.field {
  width: calc(100% - 48px - 118px);
  margin-bottom: 1rem !important;
}

.icon.field {
  &> button.load {
    width: calc(60% - 0.5rem);
  }

  &> button.select {
    width: calc(40% - 0.5rem);
  }
} 

#description {
  height: 5rem;
  min-height: inherit;
}

.loading-layer {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  background-image: url(imgs/loading.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: wait;
}

body.loading .loading-layer {
  display: block;
}

.drag-n-drop-layer {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  padding-top: calc(50vh - 4rem - 3px);
  border: 3px dashed white;
  cursor: grabbing;
  user-select: none;
}

body.dragover .drag-n-drop-layer {
  display: block;
}

.checkbox {
  padding-top: 0.6em;
}

.retrieve-metadata-left {
  width: calc(100% - 12rem) !important;
}

.retrieve-metadata-middle {
  width: 8rem !important;
}

.retrieve-metadata-right {
  width: 3rem !important;
}