body {
  overflow-y: hidden;
}

img.icon {
  max-height: 32px;
  max-width: 32px;
  height: auto;
}

.icon.field {
  width: calc(100% - 48px);
  margin-bottom: 1rem !important;
}

.icon.field > button {
  width: calc(50% - 0.5rem);
}